{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.index') }}
    </div>
    {% for prototype in prototypes %}
        <div class="article-header">
            <h3>{{ prototype.title }}</h3>
            <p>{{ prototype.author }}</p>
            <p>{{ prototype.body | safe }}</p>
            <a class="btn btn-primary" href="{{ url_for('main.memento', prototype_id=prototype.id) }}">默写</a>
            <br>
        </div>
    {% endfor %}
    <br>
    <br>
    <form action="/search" method="post">
        <div class="input-group input-group-lg search_input">
            <input name="content" type="text" id="search_input" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button name="submit" class="btn btn-danger" type="submit">Go!</button>
            </span>
        </div>
    </form>
{% endblock %}