{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" src="{{ user.gavatar(size=256) }}">
        <div class="profile-header">
            <h1>{{ user.username }}</h1>
            <p><b>email address:</b>{{ user.email }}</p>
            <p><b>location:</b>{{ user.location }}</p>
            <p><b>about_me:</b>{{ user.about_me }}</p>
            <p><b>last_seen:</b>{{ user.last_seen }}</p>
            <p><b>member_since:</b>{{ user.member_since }}</p>
            <a class="btn btn-primary" href="{{ url_for("main.modify_profile") }}">Modify</a>
        </div>
    </div>
    {% for article in articles %}
        <div class="page-header">
        <h3>{{ article.title }}</h3>
        <p>{{ article.prototype.author }}</p>
        <p>{{ article.body | safe }}</p>
        </div>
    {% endfor %}
{% endblock %}